body {
  margin: 0 auto;
  background-color: #2f2e41;
  color: #fff;
  width: 1090px;
  text-align: center;
}

.page {
  min-width: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
}

ul {
  display: flex;
  list-style: none;
  gap: 64px;

  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
}

ul li a {
  font-family: "JetBrains Mono", monospace;
  text-decoration: none;
  color: #fff;
}

ul li a:hover {
  font-weight: bold;
  color: #c2c2c2;
}

main {
  display: flex;
  gap: 80px;
}

section h1 {
  font-family: "JetBrains Mono", monospace;
  margin-bottom: 60px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

section h1 span {
  color: #00bfa6;
}

main section p {
  font-family: "Open Sans", sans-serif;
  color: #c2c2c2;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;

  width: 604px;
}

.difbold {
  color: #00bfa6;
}

footer {
  font-family: "JetBrains Mono", monospace;
  margin: 160px auto 0px;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  font-weight: bold;
  color: #c2c2c2;
}

#line {
  width: 568px;
  margin: 0 auto 27px;
  border: 1px solid #00bfa6;
}

#padlock {
  position: fixed;
  left: 20px;
  bottom: 20px;
}
